# Maven target directory
target/
dependency-reduced-pom.xml

# Compiled class files
*.class

# IDE and Editor files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS specific files
.DS_Store
Thumbs.db
